<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css"  th:href="@{/css/sb-admin-2.min.css}"rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido !</h1>
                                    </div>
                                    <form class="user mt-5">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="txtUser" aria-describedby="emailHelp"
                                                placeholder="Usuario">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="txtPassword" placeholder="Contraseña">
                                        </div>

                                        <a  href="#" id="btnIngresar" class="btn btn-primary btn-block mt-5 mb-2">
                                            Ingresar
                                        </a>
                                        <div class="alert alert-danger d-none" id="error" role="alert">

                                        </div>
                                    </form>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js" th:src="@{/js/sb-admin-2.min.js}"></script>

</body>
<script>
    $(document).ready(function() {
        $("#btnIngresar").on("click",()=>{
            const username = document.getElementById("txtUser").value;
            const password = document.getElementById("txtPassword").value;
            if(username && password){
                if(username === password){
                    validate(username, password);
                }else{
                    showMessage(true, "Usaurio y Contraseña no coinciden");
                }
            }else{
                if(!username)showMessage(true, "Ingresar usuario");
                if(!password)showMessage(true, "Ingresar contraseña");
            }
        });

    });
    async function validate(username, password){

        showMessage(false)

        const request = await fetch(`/api/auth/${username}/${password}`, {
            method:"GET",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).catch((error)=> {
           alert('Hubo un problema:' + error.message);
        });
        const result = await request.json();
        if(!result.success){
            showMessage(true, result.message)
        }else{
            window.location = "/register";
        }
    }
    function showMessage(active,message){
        if(active){
            $("#error").text(message);
            $("#error").removeClass("d-none").addClass("d-block");
        }else{
            $("#error").text(String());
            $("#error").removeClass("d-block").addClass("d-none");
        }
    }
</script>
</html>